
body {
  width: 1200px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-image: url("../IMG/background.png");
}
.head {
  position: absolute;
  width: 1200px;
  height: 100px;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  transform: translate(0px, 0);
}

.websiteLogo {
  margin-left: 0px;
  margin-top: 0px;
  width: 200px;
}

.navbar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  flex: 1;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.navbar li {
  display: inline-block;
}